# Project 1: Sofia Lopez

In [2]:
import pandas as pd
df = pd.read_csv("AirQuality_Daily_StudentVersion.csv")

## Question #1: What are the 5 locations in Nebraska with the highest mean and median concentrations of VOC, PM 2.5 and PM 10.0?

In [35]:
summary = df.groupby("sensor.name").agg({
    "voc": ["mean", "median"],
    "pm2.5_atm": ["mean", "median"],
    "pm10.0_atm": ["mean", "median"]})
# VOC
top5_voc_mean = summary.sort_values(("voc", "mean"), ascending=False).head(5)
top5_voc_median = summary.sort_values(("voc", "median"), ascending=False).head(5)
# PM2.5
top5_pm25_mean = summary.sort_values(("pm2.5_atm", "mean"), ascending=False).head(5)
top5_pm25_median = summary.sort_values(("pm2.5_atm", "median"), ascending=False).head(5)
# PM10.0
top5_pm10_mean = summary.sort_values(("pm10.0_atm", "mean"), ascending=False).head(5)
top5_pm10_median = summary.sort_values(("pm10.0_atm", "median"), ascending=False).head(5)

display(top5_voc_mean[[("voc", "mean")]])
display(top5_voc_median[[("voc", "median")]])
display(top5_pm25_mean[[("pm2.5_atm", "mean")]])
display(top5_pm25_median[[("pm2.5_atm", "median")]])
display(top5_pm10_mean[[("pm10.0_atm", "mean")]])
display(top5_pm10_median[[("pm10.0_atm", "median")]])

                                              voc
                                             mean
sensor.name
Swnphd-ogallala                        399.434240
FCHD-YPS                               372.462720
Three Rivers Public Health Department  370.216208
ELVPHD Norfolk HD 4                    360.833744
Swnphd-mccook                          353.941581

                                              voc
                                           median
sensor.name
Swnphd-ogallala                        423.082292
Swnphd-mccook                          381.468479
Three Rivers Public Health Department  376.810167
FCHD-YPS                               375.383500
ELVPHD Norfolk HD 4                    368.580500

                                                     pm2.5_atm
                                                          mean
sensor.name
Broken Bow                                          928.710593
#16 - Richardson County Courthouse                  700.127342
#18 - Southeast District Health Department- Tec...  613.175352
NCDHD O'Neill #11                                   164.495078
Swnphd-mccook                                       123.011622

                                                    pm2.5_atm
                                                       median
sensor.name
Broken Bow                                          36.050240
#16 - Richardson County Courthouse                  11.977344
#18 - Southeast District Health Department- Tec...  10.322875
ELVPHD Norfolk HD 4                                  9.706229
ELVPHD Wisner HD 5                                   8.464583

                                                    pm10.0_atm
                                                          mean
sensor.name
Broken Bow                                          929.678512
#16 - Richardson County Courthouse                  701.632446
#18 - Southeast District Health Department- Tec...  614.227248
NCDHD O'Neill #11                                   166.132578
Swnphd-mccook                                       124.227336

                                                   pm10.0_atm
                                                       median
sensor.name
Broken Bow                                          43.179094
#16 - Richardson County Courthouse                  13.305615
ELVPHD Norfolk HD 4                                 11.474708
#18 - Southeast District Health Department- Tec...  11.433729
ELVPHD Wisner HD 5                                  10.935958

## Question #2: On what days did the maximum values occur and where did this maximums occur?
### a. What are some potential reasons these maximums occurred on these days in these locations based on initial research?

In [44]:
summary_max = pd.DataFrame({
    "pollutant": ["voc", "pm2.5", "pm10"],
    "date": [
        df.loc[df["voc"].idxmax(), "date"],
        df.loc[df["pm2.5_atm"].idxmax(), "date"],
        df.loc[df["pm10.0_atm"].idxmax(), "date"]
    ],
    "location": [
        df.loc[df["voc"].idxmax(), "sensor.name"],
        df.loc[df["pm2.5_atm"].idxmax(), "sensor.name"],
        df.loc[df["pm10.0_atm"].idxmax(), "sensor.name"]
    ],
    "value": [
        df["voc"].max(),
        df["pm2.5_atm"].max(),
        df["pm10.0_atm"].max()
    ]
})

display(summary_max)

  pollutant      date                            location        value
0       voc  06/24/24                     Swnphd-ogallala  1209.931571
1     pm2.5  02/18/25  #16 - Richardson County Courthouse  3782.823313
2      pm10  02/18/25  #16 - Richardson County Courthouse  3784.682542

#### Answer will be more in depth in written report, reasons inclue traffic and agricultural variables.

## Question #3: Does humidity and temperature have a noticeable effect on air quality?

In [50]:
def humidity_category(h):
    if h < 50:
        return "Low"
    elif h <= 80:
        return "High"
    else:
        return "Very High"

df["humidity_cat"] = df["humidity"].apply(humidity_category)
df["temp_cat"] = df["temperature"].apply(temp_category)

def temp_category(t):
    if t < 32:
        return "Below freezing"
    elif t <= 50:
        return "Cool"
    elif t <= 70:
        return "Warm"
    else:
        return "Hot"

df["temp_cat"] = df["temperature"].apply(temp_category)
summary = df.groupby(["sensor.name", "humidity_cat", "temp_cat"])[["voc","pm2.5_atm","pm10.0_atm"]].mean()
display(summary)

                                                                       voc  \
sensor.name                        humidity_cat temp_cat
#16 - Richardson County Courthouse High         Hot              89.099382
                                                Warm             64.342679
                                   Low          Hot              90.324251
                                                Warm            103.566856
                                   Very High    Hot               8.478905
...                                                                    ...
WCDHD Thedford Library 29          High         Warm            193.391069
                                   Low          Below freezing  291.047309
                                                Cool            290.303640
                                                Hot             227.591200
                                                Warm            218.565896

                                                                  pm2.5_atm  \
sensor.name                        humidity_cat temp_cat
#16 - Richardson County Courthouse High         Hot               11.624372
                                                Warm               4.751139
                                   Low          Hot               45.198731
                                                Warm               3.569809
                                   Very High    Hot             1631.653163
...                                                                     ...
WCDHD Thedford Library 29          High         Warm              11.253514
                                   Low          Below freezing     4.584677
                                                Cool               3.307648
                                                Hot                6.825791
                                                Warm               2.748292

                                                                 pm10.0_atm
sensor.name                        humidity_cat temp_cat
#16 - Richardson County Courthouse High         Hot               12.704453
                                                Warm               5.596941
                                   Low          Hot               46.653348
                                                Warm               4.744191
                                   Very High    Hot             1633.323170
...                                                                     ...
WCDHD Thedford Library 29          High         Warm              12.942160
                                   Low          Below freezing     6.567310
                                                Cool               4.406584
                                                Hot                7.764884
                                                Warm               3.470667

[213 rows x 3 columns]

## Question #4: Have there been any Air Quality Index (AQI) health risks (unhealthy for sensitive populations) at any of the locations in the dataset for PM 2.5 and PM 10 based on the EPA’s AQI ratings?

In [56]:
df["pm25_risk"] = df["pm2.5_atm"] >= 35.5
df["pm10_risk"] = df["pm10.0_atm"] >= 155
dates_risk = df[(df["pm25_risk"]) | (df["pm10_risk"])]
risk_summary = dates_risk.groupby("sensor.name")[["pm2.5_atm", "pm10.0_atm"]].max()

display(risk_summary)
display(dates_risk[["date", "sensor.name", "pm2.5_atm", "pm10.0_atm"]])

                                                      pm2.5_atm   pm10.0_atm
sensor.name
#16 - Richardson County Courthouse                  3782.823313  3784.682542
#17 - Otoe County                                     37.250062    45.739812
#18 - Southeast District Health Department- Tec...  2987.467563  2988.441438
Ainsworth Public School #9                            43.320062    52.673917
Broken Bow                                          3205.868854  3206.779708
Buffalo County TRPHD #26                              42.225333    49.871812
ELVPHD Norfolk HD 4                                   79.972917    95.131583
ELVPHD Tekamah HD 3                                   45.881250    56.471104
ELVPHD Wisner HD 5                                    51.984812    75.461354
FCHD-YPS                                             363.201104   364.240104
Laurel High School                                    38.736938    48.006125
Loup Basin Public Health Department                  230.482438   231.757021
Lower Niobrara NRD Butte 10                           45.030938    52.568208
NCDHD O'Neill #11                                   2078.873729  2079.294479
PHS Fairbury JCHL 13                                  52.773958    64.502917
SWNPHD-Imerial                                        49.004625    60.005750
South Heartland District Health Dept. Hastings ...    47.330646    57.197542
South Heartland District Health Dept. Superior ...    40.539417    48.885708
Swnphd-Benklemen                                     188.156771   188.977500
Swnphd-mccook                                       3053.114292  3054.484250
Swnphd-ogallala                                     1320.155667  1321.167583
TRPHD Dawson Co. Courthouse 25                      2363.017646  2367.085500
TRPHD Harlan Co. Courthouse 24                        42.725625    51.376479
Three Rivers Public Health Department                 51.491208    60.560375
WCDHD Arthur High School 28                           46.354292    57.954313
WCDHD Thedford Library 29                             36.138729    48.852063

,date,sensor.name,pm2.5_atm,pm10.0_atm
370,03/29/24,ELVPHD Wisner HD 5,39.761896,50.163333
377,03/29/24,ELVPHD Norfolk HD 4,38.425396,43.370375
529,04/06/24,TRPHD Harlan Co. Courthouse 24,37.819938,43.793979
544,04/06/24,Swnphd-ogallala,39.169042,46.152625
1341,05/14/24,ELVPHD Wisner HD 5,48.140771,60.299813
...,...,...,...,...
8274,03/23/25,Swnphd-mccook,981.919875,982.185500
8291,03/24/25,#18 - Southeast District Health Department- Te...,1692.498333,1692.793896
8293,03/24/25,NCDHD O'Neill #11,1714.236813,1714.360500
8294,03/24/25,Broken Bow,1713.840375,1713.964083
8295,03/24/25,Swnphd-mccook,563.337313,564.363833